<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width" , initial-scale="1.0">
	<title>Muebleria</title>
	<!-- slider stylesheet -->
	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

	<!-- bootstrap core css -->
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />

	<!-- fonts style -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="../static/css/style.css" rel="stylesheet" />
	<!-- responsive style -->
	<link href="../static/css/responsive.css" rel="stylesheet" />
</head>


<body>
	
	<section class="service_section layout_padding">
		<div class="container" text-align: center>
			<div class="custom_heading-container">
				<h3>
					<p  th:text="'Detalle inmueble ' + ${mueble.nombre}">
					DETALLES INMUEBLE
					</p>
				</h3>
			</div>
		</div>
		<div class="layout_padding2-top">
			<div class="client_container">
				<div class="detail-box">
					<table class="center" width="500">
						<tr>
							<th>Caracteristicas</th>
							<th>Valor</th>
						</tr>
						
						<tr>
							<td>Dirección</th>
							<td th:text="${mueble.direccion}">dummy</td>
						</tr>
						<tr>
							<td>Tiempo construida:</td>
							<td th:text="${mueble.antiguedad}">dummy</td>
						</tr>
						<tr>
							<td># habitaciones</td>
							<td th:text="${mueble.habitaciones}">dummy</td>
						</tr>
						<tr>
							<td>¿Tiene estufa?</td>
							<td th:text="${mueble.estufa} == true ? 'Si' : 'No'"></td>
						</tr>
						<tr>
							<td>¿Tiene estacionamiento?</td>
							<td th:text="${mueble.estacionamiento} == true ? 'Si' : 'No'"></td>
						</tr>
						<tr>
							<td># aforo</td>
							<td th:text="${mueble.capacidad}">dummy</td>
						</tr>
					</table>
				</div>

			</div>
		</div>

	</section>
</body>

</html>